<%# stackoverflow.com/questions/45065065/rails-5-redirect-notice-style %>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>">
    <%= message %>
  </div>
<% end %>
<%# end of reference %>
<div class="container shadow">
  <div class="homebox">
    <h1 class="mt-5 display-1">Campus Management Systems</h1>
    <p class="display-6"><em>University simplified</em></p>
  </div>
</div>

